body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0%;
    background-image: url(https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
}
h2{
    text-align: center;
}
#para-el{
    text-align: center;
}
form{
        font-size: larger;
        border:3px solid rgb(29, 126, 89);
        height: 50%;
        margin-top: 3%;
        width: 15%;
        padding:2%;
        margin-left: 70%;
        color:white;
        background: linear-gradient(0deg, rgba(17, 132, 181, 0.28) 0%, rgba(17, 132, 181, 0.28) 100%), #D9D9D9;
       text-align: center;
       border-radius: 10%;

    }


ul {
list-style-type: none;
margin-left: 55%;
padding: 10px;
overflow: hidden;
width: 70%;
}

li {
float:left;

padding: 2px;
margin: 5px;


}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
background-color: rgb(241, 3, 3);
border-radius: 15%
}

li a:hover {
background-color: #0e0c0c;
transition-duration: 4s;

}

#social-media{
    border:1px solid red;
    color:beige;
    width: 20%;
    background-color: aqua;
    margin-left: 40%;
    text-align: center;
}
